<!DOCTYPE html>
<html>
<head>
  <title>Unauthorized</title>
</head>
<body>
  <h1>Access Denied</h1>
  <p>You are not authorized to access this page.</p>
  <a href="/">Go Back to Home</a>
</body>
</html>
