<nav>
    <ul>
        <link rel="stylesheet" href="/css/style.css">
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/equipment/check">Equipment</a></li>
        <li><a href="/fields">Fields</a></li>
        <li><a href="/requests">Requests</a></li>
    </ul>
</nav>
